.header-brand {
    display: flex;
    align-items: center;
    padding: 5px;
}

.header-brand img {
    max-height: 85px;
    height: auto;
    width: auto;
}

.header-brand div {
    padding-left: 5px;
}