h1.page-title {
    margin-bottom: 2rem;
}

ul.credentials {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

ul.credentials>li {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    --characters: 30;
    /* Will be relative to the font size set above */
    width: calc(var(--characters) * 1em);
}

ul.credentials>li>label {
    display: block;
    text-align: center;
}

ul.credentials>li>span {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}


ul.credentials input,
ul.credentials li button {
    display: flex;
    padding: .25rem;
    border-radius: 10px;
}

ul.credentials input {
    font-size: 1.5rem;
    max-width: 100%;
    min-width: 92%;
}



.invalid-field {
    color: var(--color-red);
    white-space: pre-wrap;
    padding-bottom: .25rem;
}