h1.page-title {
    margin-bottom: 2rem;
}

ul.credentials {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

ul.credentials>li {
    font-size: 1.5rem;
    --characters: 30;
    /* Will be relative to the font size set above */
    width: calc(var(--characters) * 1em);
}

ul.credentials>li>label {
    display: block;
    text-align: center;
}

ul.credentials input {
    font-size: 1.5rem;
    display: flex;
    width: 100%;
    padding: .25rem;
    border-radius: 10px;
}