@import "../index.css";

.post {
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 550px min-content min-content;
    row-gap: 5px;
    padding: 2rem;
    max-height: 850px;
    max-width: 550px;
    background-color: var(--color-grey);
    font-size: 1.25rem;
    transition: max-height 200ms;
}

.expand {
    max-height: 2000px;
}


.post-title {
    font-size: 1.75rem;
    grid-row: 1 / 2;
}

.book-info {
    grid-row: 2 / 3;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 1rem;
}

.post-info {

    grid-row: 4 / 5;
    padding-top: 1rem;
}

.post-content {
    padding-top: 5px;
    position: relative;
    grid-row:  5 / 6;
    line-height: 1.25em;
    width: 100%;
    overflow: hidden;
    text-align: justify;
}

.post-content > .read-more {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    cursor: pointer;
}

.post img {
    grid-row: 3 / 4;
    max-height: 100%;
    height: auto;
    width: auto;
    max-width: 100%;
    align-self: center;
    justify-self: center;
}