.input {
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    text-overflow: ellipsis;
    width: 100%;
    color: var(--color-white);
    background-color: var(--color-grey);
}

.input::placeholder {

}

.input:focus {
    border: none;
    outline: 3px solid var(--color-purple);
}

.label {
    display: block;
    font-size: 1.75rem;
    margin-bottom: .3rem;
}