*, :root {
    margin: 0;
    padding: 0;

    --color-purple: #462477;
    --color-green: #557724;
    --color-red: #77242C;
    --color-blue: #247770;
    --color-text: white;
    --color-background: #2b2a33;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: var(--color-background);
    color: var(--color-text);
}