@font-face {
    font-family: 'libertinus-sans';
    src: url("./assets/fonts/LibertinusSans-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'libertinus-sans';
    src: url("./assets/fonts/LibertinusSans-Italic.ttf") format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'libertinus-sans';
    src: url("./assets/fonts/LibertinusSans-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

*,
:root {
    margin: 0;
    padding: 0;

    --color-black: #09090b;
    --color-grey: #1a1c23;
    --color-purple: #462477;
    --color-red: #EF4136;
    --color-white: #f0f4ef;
    --color-rating-0: #1a1c23;
    --color-rating-50: #8c2f39;
    --color-rating-100: #ef4136;

    --content-width: 1100px;
    --border-radius: 10px;
}

#root {
    font-family: "libertinus-sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: var(--color-black);
    color: var(--color-white);
    width: 100%;
    min-height: 100dvh;
}